{% extends "base/base.html" %}

{% block title %}Home {% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/CSS/cart.css">
{% endblock css%}

{% block body %}
{% include "base/nav.html" %}

<!-- if carts is empty  -->
{% if error %}
<div class="container-fluid  mt-5">
  <div class="row">
   <div class="col-md-12">
         <div class="col-sm-12  text-center">
           <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
           <h3><strong>{{error}}!</strong></h3>
           <a href="#" class="btn btn-dark mt-2" data-abc="true">Continue shopping</a>
         </div>
   </div>
  </div>
 </div>
{% else %}


<!-- user is add the items into carts  -->
<div class="container mt-3">
  <div class="container">
    <div class="row ">
      <div class="card col-8">
        <div class="container">
          <table class="table" style="width: 650px;">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!-- show the customer items -->
              {% for i in cart_items %}
              <tr>
                <td>
                  <img src="/media/{{i.food.img}}" alt="..." width="60px" height="60px">
                  {{i.food.food_name}}
                </td>
                <td>1</td>
                <td>{{i.food.price}}</td>
                <td><a href="{% url 'remove' i.uid %}"><button class="btn btn-dark">Remove</button></a></td>

              </tr>

              {% endfor %}
            </tbody>
          </table>

          <div class="bottem mb-4">
            <a href=""><button class="btn btn-outline-dark"> <b><i class='fas fa-less-than'></i> Continue
                  shopping</b></button></a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card p-3">
          {% include "base/alert.html" %}
          <p>Have coupon?</p>
          <form action="" method="post">
            {% csrf_token %}
            <div class="method input-group mb-3">

              <input type="text" class="form-control" placeholder="Coupon code" name="Coupon_code">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Apply</button>
              </div>

            </div>
          </form>
         <small class="text-success">You applied <b>{{cart_obj.coupon.coupon_code}}</b> </small> 
        </div>

        <div class="card p-3 mt-3">
          <h5>Price Details</h5>
          <div class="d-flex justify-content-between align-items-center">
            <div class="summary">
              <p>Price()</p>
              <p>coupon applied</p>
              <p>Delivery Charges</p>
            </div>
            <div class="total">
              <p>₹{{totals.sum}}</p>
              <p class="text-success">-₹{{cart_obj.coupon.discount|default:0 }}</p>
              <p>₹0</p>
            </div>
          </div>
          <hr>
          <div class="d-flex justify-content-between align-items-center">
            <h6>Total Amount</h6>
            <h6>₹{{price.total}}</h6>
          </div>
          <div class="d-grid gap-2 mt-2">
            <a href="{% url 'chek_out' %}?price={{totals.sum}}&&dis={{cart_obj.coupon.discount}}&&finalAm={{price.total}}"><button class="btn btn-dark" type="submit" >CHECK OUT</button></a>  
          </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% endblock body%}