{% extends "base/base.html" %}

{% block title %}Restaurant-Registration{% endblock %}

{% block css %}
{% endblock css%}

{% block body %}

<div class="container">
    <h1>Restaurant Information</h1>
    <div class="container card p-3 mt-3">
        <h2>Restaurant details</h2>
        <span>Name,address, location</span>
        <hr>
        <form class="row g-3 mt-2" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12">
                <input type="text" class="form-control" name="name" placeholder="Restaurant name">
            </div>
            <div class="col-12">
                <input type="text" class="form-control" name="Owner_name" placeholder="Owner name">
            </div>
            <!-- address -->
            <div class="col-12">
                <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Restaurant complete address">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="City" placeholder="City">
            </div>
            <div class="col-md-4">
                <select state="State" name = "state"class="form-select">
                    <option>State...</option>
                    <option value="Uttrakhand">Uttrakhand</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Zip" placeholder="Zip">
            </div>

            <!-- times  -->
            <h3>Restaurant Type & Timings</h3>
            <hr>
            <div class="col-md-4">
                <label class="form-label">Opens at</label>
                <input type="time" class="form-control" name="open">
            </div>
            <div class="col-md-4">
                <label class="form-label">Closes at</label>
                <input type="time" class="form-control" name="close">
            </div>
            <div class="col-md-4">
                <label for="form-label">Your restaurant images</label>
                <input type="file" class="form-control mt-2" name="img">
            </div>
            <!-- days options -->
            <label class="form-label">Make open days</label>
                <div class="row row-cols-3">
                    <div class="form-check col">
                        <input class="form-check-input" type="checkbox" value="Monday"  id="flexRadioDefault2" name="days">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Monday
                        </label>
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="checkbox" value="Tuseday" id="flexRadioDefault2" name="days">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Tuseday
                        </label>
    
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="checkbox" value="wedneday" id="flexRadioDefault2" name="days">
                        <label class="form-check-label" for="flexRadioDefault2">
                            wedneday
                        </label>
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="checkbox" value="Thursday" id="flexRadioDefault2" name="days">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Thursday
                        </label>
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="checkbox" value="Friday"  id="flexRadioDefault2" name="days">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Friday
                        </label>
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="checkbox" value="Saturday" id="flexRadioDefault2" name="days">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Saturday
                        </label>
                    </div>
                    <div class="form-check col">
                        <input class="form-check-input" type="checkbox" value="Sunday" id="flexRadioDefault2" name="days">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Sunday
                        </label>
                </div>
            </div>


            <label class="form-label">Your restaurant food types </label>
            <div class="row row-cols-3">
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" value="Indian"  id="flexRadioDefault2" name="food_type">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Indian
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" value="Punjabi" name="food_type">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Punjabi
                    </label>

                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" value="North indian" name="food_type">
                    <label class="form-check-label" for="flexRadioDefault2">
                        North indian
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" value="Chinese" name="food_type">
                    <label class="form-check-label">
                        Chinese
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" value="Bakery" name="food_type">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Bakery
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" value="South indian" name="food_type">
                    <label class="form-check-label" for="flexRadioDefault2">
                        South indian
                    </label>
                </div>
                <div class="form-check col">
                    <input class="form-check-input" type="checkbox" value="Sweets" name="food_type">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Sweets
                    </label>
            </div>
            <div class="form-check col">
                <input class="form-check-input" type="checkbox" value="italian"  name="food_type">
                <label class="form-check-label" for="flexRadioDefault2">
                    italian
                </label>
        </div>
        </div>
        
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="submit">CONTINUE</button>
            </div>
        </form>
    </div>



    {% endblock body%}